<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Currency exchange calculator test Suite ">
    <test verbose="2" name="Currency exchange calculator test">
        <classes>
            <class name="org.qa.sharif.testcases.AutoEmptyFileTest"/>
        </classes>
    </test>
</suite>